<mat-form-field>
    <mat-label *ngIf="isAttributeExists(labelText)">{{labelText}}</mat-label>
    <!-- Input -->
    <input
        matInput
        *ngIf="isInputType()"
        [(ngModel)]="inputValue"
        [type]="inputType"
        [required]="isRequired"
        [placeholder]="placeholderText"
        [class]="className"
        [id]="inputName"
        [name]="inputName"
        [disabled]="disabled"
        [value]="inputValue"
        (keyup)="onChangeInput()"
        ngDefaultControl
    />

    <!-- Color -->
    <input
        matInput
        *ngIf="inputType === 'color'"
        [(ngModel)]="inputValue"
        [type]="inputType"
        [required]="isRequired"
        [placeholder]="placeholderText"
        [class]="className"
        [id]="inputName"
        [name]="inputName"
        [disabled]="disabled"
        [value]="inputValue"
        (change)="onChangeInput()"
        ngDefaultControl
    />

    <!-- Textarea -->
    <textarea
        matInput
        *ngIf="isTextArea()"
        [(ngModel)]="inputValue"
        [type]="inputType"
        [required]="isRequired"
        [placeholder]="placeholderText"
        [class]="className"
        [id]="inputName"
        [name]="inputName"
        [disabled]="disabled"
        [value]="inputValue"
        (keyup)="onChangeInput()"
        ngDefaultControl>
    </textarea>

    <!-- Select -->
    <mat-select
        matInput
        *ngIf="isSelect()"
        [(ngModel)]="inputValue"
        [type]="inputType"
        [required]="isRequired"
        [placeholder]="placeholderText"
        [class]="className"
        [id]="inputName"
        [name]="inputName"
        [disabled]="disabled"
        [value]="inputValue"
        (keyup)="onChangeInput()"
        ngDefaultControl>
        <mat-option
            *ngFor="let currentOption of options"
            value="currentOption.value">
            {{currentOption.label}}
        </mat-option>
    </mat-select>

    <!-- Hint -->
    <mat-hint
        *ngIf="isAttributeExists(hintText)"
        [align]="hintPosition">
        {{hintText}}
    </mat-hint>

    <!-- Error -->
    <mat-error
        [hidden]="!errorField">
        <p>{{inputName}} é obrigatório</p>
    </mat-error>

    <!-- Icon -->
    <mat-icon
        matSuffix
        *ngIf="isAttributeExists(iconType)">
        {{iconType}}
    </mat-icon>
</mat-form-field>
