<!-- H1 -->
<h1
    *ngIf="tag === 'h1'"
    [class]="className"
    [innerHTML]="textValue">
</h1>

<!-- H2 -->
<h2
    *ngIf="tag === 'h2'"
    [class]="className"
    [innerHTML]="textValue">
</h2>

<!-- H3 -->
<h3
    *ngIf="tag === 'h3'"
    [class]="className">
    {{textValue}}
</h3>

<!-- H4 -->
<h4
    *ngIf="tag === 'h4'"
    [class]="className"
    [innerHTML]="textValue">
</h4>

<!-- H5 -->
<h5
    *ngIf="tag === 'h5'"
    [class]="className"
    [innerHTML]="textValue">
</h5>

<!-- H6 -->
<h6
    *ngIf="tag === 'h6'"
    [class]="className"
    [innerHTML]="textValue">
</h6>

<!-- Label -->
<label
    *ngIf="tag === 'label'"
    [class]="className"
    [innerHTML]="textValue">
</label>

<!-- P -->
<p
    *ngIf="tag === 'p'"
    [class]="className"
    [innerHTML]="textValue">
</p>
