:host {
    width: 100%;
    height: calc(100vh - 48px - 74px);

    display: block;
    position: relative;
}

#add-reminder-bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.category-reminder {
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    padding: 5px 10px;
}
