<!-- Button -->
<button
    mat-button
    [matTooltip]="tooltipText"
    [color]="color"
    [class.spinner]="loading"
    [disabled]="disabled || loading"
    *ngIf="buttonType === 'button'">
    <span *ngIf="loading">&nbsp;</span>
    <span *ngIf="!loading">{{buttonText}}</span>
</button>

<!-- Raised Button -->
<button
    mat-raised-button
    [color]="color"
    [matTooltip]="tooltipText"
    [class.spinner]="loading"
    [disabled]="disabled || loading"
    *ngIf="buttonType === 'raised-button'">
    <span *ngIf="loading">&nbsp;</span>
    <span *ngIf="!loading">{{buttonText}}</span>
</button>

<!-- Stroked Button -->
<button
    mat-stroked-button
    [color]="color"
    [matTooltip]="tooltipText"
    [class.spinner]="loading"
    [disabled]="disabled || loading"
    *ngIf="buttonType === 'stroked-button'">
    <span *ngIf="loading">&nbsp;</span>
    <span *ngIf="!loading">{{buttonText}}</span>
</button>

<!-- Flat Button -->
<button
    mat-flat-button
    [color]="color"
    [matTooltip]="tooltipText"
    [class.spinner]="loading"
    [disabled]="disabled || loading"
    *ngIf="buttonType === 'flat-button'">
    <span *ngIf="loading">&nbsp;</span>
    <span *ngIf="!loading">{{buttonText}}</span>
</button>

<!-- Fab Button -->
<button
    mat-fab
    [color]="color"
    [matTooltip]="tooltipText"
    [class.spinner]="loading"
    [disabled]="disabled || loading"
    *ngIf="buttonType === 'fab-button'">
    <mat-icon>{{buttonIcon}}</mat-icon>
</button>

<!-- Icon Button -->
<button
    mat-icon-button
    [color]="color"
    [matTooltip]="tooltipText"
    [class.spinner]="loading"
    [disabled]="disabled || loading"
    *ngIf="buttonType === 'icon-button'">
    <mat-icon>{{buttonIcon}}</mat-icon>
</button>
