<div class="container">
    <div class="row pt-5">
        <div
            class="col-md-12"
            *ngIf="isLoading">
            <ngx-skeleton-loader count="10" appearance="square">
            </ngx-skeleton-loader>
        </div>
        <div
            class="col-md-12 text-center"
            *ngIf="!isLoading && categoriesList.docs.length === 0">
            <image
                [url]="iconCategory"
                [className]="'image-category'">
            </image>
            <text
                tag="h3"
                [textValue]="'Ops, parece que você não tem nenhuma categoria cadastrada :/'">
            </text>
            <input-button
                (click)="showCategoryForm()"
                [buttonType]="'raised-button'"
                [buttonText]="'Cadastrar categoria'">
            </input-button>
        </div>
        <div
            class="col-md-4 pt-2 pb-4"
            [hidden]="isLoading"
            *ngFor="let currentCategory of categoriesList.docs">
            <card
                [borderBottomColor]="currentCategory.color">
                <mat-card-content>
                    <text
                        tag="h3"
                        [className]="'font-weight-bold'"
                        [textValue]="currentCategory.title">
                    </text>
                    <text
                        tag="p"
                        [textValue]="currentCategory.description"
                        *ngIf="currentCategory.description !== ''">
                    </text>
                </mat-card-content>
                <mat-card-actions>
                    <input-button
                        [tooltipText]="'Editar'"
                        [buttonType]="'icon-button'"
                        [buttonIcon]="'create'"
                        (click)="editCategory(currentCategory)">
                    </input-button>
                    <input-button
                        [tooltipText]="'Excluir'"
                        [buttonType]="'icon-button'"
                        [buttonIcon]="'delete'"
                        (click)="removeCategory(currentCategory)">
                    </input-button>
                </mat-card-actions>
            </card>
        </div>
    </div>
</div>

<input-button
    id="add-category-bottom"
    (click)="showCategoryForm()"
    [color]="'primary'"
    [buttonType]="'fab-button'"
    [buttonIcon]="'add'"
    *ngIf="!isLoading && categoriesList.docs.length > 0">
</input-button>
