:root {

    font-size: 60%;

    --color-purple: #637ab7;
    --color-white: #ffffff;
    --color-grey: #cccccc;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
