@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {

    font-size: 60%;

    --color-purple: #673ab7;
    --color-red: #f44336;
    --color-white: #ffffff;
    --color-grey: #cccccc;
    --color-grey-darkest: #666666;
    --color-black: #000000;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes spinner {
    to { transform: rotate(360deg); }
}

.date-reminder {
    color: var(--color-grey-darkest);
}

.url-reminder {
    justify-content: space-between;
    display: flex;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border:2px solid var(--color-white);
    border-top-color: var(--color-purple);
    animation: spinner .8s linear infinite;
}

.row .mat-tab-body-content {
    overflow-x: hidden;
}

a.fc-col-header-cell-cushion {
    color: var(--color-purple);
}

.mat-toolbar mat-icon{
    color: var(--color-white);
}

.image-category, .image-remind {
    width: 40%;
}

.cdk-overlay-pane.my-dialog {
    position: relative !important;
}

.mat-tab-body-wrapper .mat-tab-body-content {
    overflow-x: hidden;
}

.button-profile {
    cursor: pointer;
}

.button-profile .image-profile {
    width: 25px;
    margin-top: -5px;
    margin-right: 10px;
    text-align: center;
}

.image-profile-option {
    width: 50%;
    position: relative;
    display: block;
    padding: 15px;
    margin: 15px auto;

    transition: .2s all;
    cursor: pointer;
}

.active-profile {
    padding: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-purple);
}

#close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    line-height: 14px;
    min-width: auto;
}
